(sql 
	{select
		fields: {"user" "age"}
		from: "Users"
		aggregate: {cnt: {count: *}}
		where: {or {visits: > 20} 
		           {last_login: < a-year-ago}} 
		order: {"created"}})
		
(defcrud Person)

(Person.get 3)
((Person.getAll) map [p | 
	(print p.name)
])
 

(map [p | print p.name] (person.getAll))
